.input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.inputbar {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 0.5px solid rgb(206, 200, 200);
}

.bttadd {
    background-color: rgb(163 102 255);
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}

.bttadd:hover {
    background-color: palevioletred;
}