.element {
    display: flex;
    gap: 10px;
}

.elementchild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.checkbox {
    accent-color: rgb(163 102 255);
    padding-inline: 10px;
}

.inputt {
    padding: 5px;
    font-size: 16px;
}

.elementbutton {
    display: flex;
    gap: 5px;
}

.bttedit {
    background-color: palevioletred;
    color: white;
    border: 0.5px solid palevioletred;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.bttedit:hover {
    background-color: rgb(236, 66, 103);
}

.bttdelete {
    background-color: white;
    color: black;
    border: 0.5px solid rgb(107, 107, 107);
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.bttdelete:hover {
    color: white;
    background-color: rgb(107, 107, 107);
    border: 0.5px solid rgb(107, 107, 107);
}

.bttsave {
    background-color: palevioletred;
    color: white;
    border: 0.5px solid palevioletred;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.bttsave:hover {
    background-color: rgb(236, 66, 103);
}

.bttcancel {
    background-color: white;
    color: black;
    border: 0.5px solid rgb(107, 107, 107);
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.bttcancel:hover {
    color: white;
    background-color: rgb(107, 107, 107);
    border: 0.5px solid rgb(107, 107, 107);
}