.note {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.elementnote {
    padding: 10px;
    border: 0.5px solid rgb(206, 200, 200);
    border-radius: 3px;
}